@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../sizes.scss';

.speaker {

  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: .5rem;
  text-decoration: none;

  --image_size: 8rem;

  @media (max-width: 480px) {
    --image_size: 6rem;
    grid-column-gap: 2rem;
  }

  h5 {
    grid-area: name;
    color: $color-orange;
  }
  h4 {
    grid-area: title;
    align-self: end;
  }
  h4, h5 {
    margin: 0;
  }

  &.left {
    grid-template-columns: var(--image_size) auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image title"
      "image name";
  }

  &.right {
    grid-template-columns: auto var(--image_size);
    grid-template-rows: auto auto;
    grid-template-areas:
      "title image"
      "name image";

    @media (max-width: 480px) {
      grid-template-columns: auto 6rem;
    }

    h4, h5 {
      text-align: right;
    }
  }
}


.image {
  width: var(--image_size);
  height: var(--image_size);
  margin: 0;
  grid-area: image;
  transform: translateX(0rem);
  padding-top: 0;
}
