@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../sizes.scss';

.speakers {
  z-index: 10;

  position: relative;
  width: 100%;
  padding: 4rem 0;
  margin-top: -3rem;
  padding: 4rem 2rem 6rem;
  //padding-bottom: 6rem; // until we don't have venue content on home

  &::after {
    position: absolute;
    z-index: 2;
    content: '';
    width: 26rem;
    height: 40rem;
    top: 0;
    right: -20rem;
    background: $color-lightorange;
    --offset: calc(calc(100vw - 108rem) * 0.35);
    transform: rotate(-13deg); //translateY(-60.1%) translateX(var(--offset));
    transform-origin: top left;
  }

  &::before {
    position: absolute;
    content: '';
    width: 26rem;
    height: 40rem;
    top: 0%;
    left: -20rem;
    background: $color-purple;
    --offset: calc(calc(100vw - 108rem) * 0.35);
    transform: rotate(-13deg); //translateY(-60.1%) translateX(var(--offset));
    transform-origin: 100% 100%;

    @media screen and (max-width: 1280px) {
      left: -23rem;
    }
    @media screen and (max-width: 480px) {
      left: -24.5rem;
    }
  }

  @media (max-width: 1280px) {
    &::after {
      right: -22rem;
    }
    &::before {
      width: 30vw;
    }
  }

  @media (max-width: 480px) {
    &::after,
    &::before {
      display: none;
    }
    margin-top: -7rem;
    padding: 8rem 1.5rem 6rem;
  }
}

.inner {
  max-width: 60rem;
  margin: 0 auto;
}

.list {
  position: relative;
  margin: 0 auto;
  margin-top: 6rem;


  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;

  @media (max-width: 480px) {
    grid-gap: 4rem;
    margin-bottom: 6rem;
  }

  li {
    width: 60%;

    @media (max-width: 480px) {
      width: auto;
    }
  }

  li:nth-child(n) {
    justify-self: start;
  }

  li:nth-child(2n+2) {
    justify-self: end;
  }
}


