@import '../breakpoints.scss';
@import '../sizes.scss';
@import '../colors.scss';
@import '../text.scss';

@mixin hover-gray() {
	&:hover, &:focus, &:active,
	&:visited:hover, &:visited:focus, &:visited:active {
		color: $gray-900;
	}
}
@mixin hover-purple() {
	&:hover, &:focus, &:active,
	&:visited:hover, &:visited:focus, &:visited:active {
    border-color: $color-black;
    background-color: $color-black;
		color: $color-white !important;
	}
}
@mixin hover-orange() {
	&:hover, &:focus, &:active,
	&:visited:hover, &:visited:focus, &:visited:active {
		border-color: $color-orange;
    color: $color-orange !important;
    //background-color: darken($color-orange, 30);
    background-color: $color-white;
	}
}
@mixin visited-gray() {
	&:visited {
		color: $gray-900;
	}
}
@mixin visited-white() {
	&:visited {
		color: $color-white !important;
	}
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: .7rem 1rem .5rem;
  margin-bottom: 2rem;

  background: $color-white;

  font: {
    family: $heading-font;
		size: 1rem;
		weight: 600;
  }

  border-radius: 3px;
  transition: color .1s ease-in-out;

  cursor: pointer;

	text: {
    decoration: none;
    transform: uppercase;
	}

  border: 2px solid transparent;

	&:hover, &:focus {
		border-color: $color-white;
		background-color: $color-white;
		color: $gray-900 !important;
		transition: background .3s ease;
	}
	&:active {
		box-shadow: 0px 0px 0px 2px #000 inset;
	}
	&__block {
		display: block;
		width: fit-content;
		margin: 0 auto;
	}

	&__fill {
		border: none;
		color: $gray-900;

		&__color {
			&__orange {
				color: $color-white !important;
				border-color: $color-orange;
				background-color: $color-orange;

				@include visited-white();
				@include hover-orange();
			}
			&__purple {
				color: $color-white !important;
				border-color: $color-rebeccapurple;
				background-color: $color-rebeccapurple;

				@include visited-white();
				@include hover-purple();
			}
			&__yellow {
				background-color: $color-yellow;
				color: $gray-900 !important;
				@include visited-gray();
			}
		}
	}

	&__color {
		&__red {
			border-color: $color-red;
			color: $color-red;
			@include hover-gray();

			&:visited {
				color: $color-red;
				@include hover-gray();
			}
		}
		&__purple {
			border-color: $color-rebeccapurple;
			color: $color-rebeccapurple;
			@include hover-gray();

			&:visited {
				color: $color-rebeccapurple;
				@include hover-purple();
			}
		}
		&__yellow {
			border-color: $color-yellow;
			color: $color-yellow;

			@include hover-gray();

			&:visited {
				color: $color-yellow;
				@include hover-gray();
			}
		}
	}

	&__disabled {
		background: $gray-400;
		border-color: transparent;
		cursor: default;

		&:hover, &:focus {
			background: $gray-400;
			color: $color-white !important;
			border-color: transparent !important;
		}
		&:active {
			box-shadow: 0 0 0 1px #000 inset;
		}
  }

  & + p {
    margin-top: 1rem;
  }
}
