@import '../components/colors.scss';
@import '../components/sizes.scss';

.speaker_page {
  h1 {
    color: $color-orange;
    font-size: $text-h2;
    line-height: $text-h2 * 1.4;
  }
  h2 {
    font-size: $text-h3;
  }
  .abstract_bio p:last-child {
    font-weight: 600;
  }


}

.speaker_page {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 16rem auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "details name"
    "details title"
    "details body";


  h2 {
    grid-area: name;
  }

  h1 {
    grid-area: title;
  }

  .details {
    grid-area: details;
  }

  .abstract_bio {
    grid-area: body;
  }

  .metadata {
    margin: 0;
    padding: 0;
    color: $color-rebeccapurple;
    margin-bottom: 2rem;
    padding-left: 1.5rem;

    li {
      padding-bottom: .4rem;
    }

    .icon {
      width: 1.3rem;
      height: 1.3rem;
      vertical-align: middle;
      transform: translateY(-.1rem);
      margin-right: .5rem;
    }
  }
}




@media (max-width: 480px) {

  .speaker_page {
    display: grid;
    grid-column-gap: 3rem;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "name"
      "title"
      "details"
      "body";

    .metadata {
      margin-top: 3rem;
      padding-left: 0rem;

      li {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

  }
}
