@import '../components/colors.scss';

.expense_list {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;



  dt,dd {
    display: inline-block;
    vertical-align: text-top;
  }
  dt:not(:first-of-type),
  dd:not(:first-of-type) {
    padding-top: .5rem;
  }

  dt:not(:last-of-type),
  dd:not(:last-of-type) {
    border-bottom: 1px solid $color-grey-4;
    padding-bottom: .5rem;
  }

  dt {
    padding-right: 5%;
    box-sizing: border-box;

  }
  dd {
    text-align: right;
    padding-right: 50%;
    box-sizing: border-box;
    font-weight: bold;
  }

}
