@charset 'utf-8';
@import '../reset.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../text.scss';
@import '../sizes.scss';

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;

  @media screen and (max-width: 28rem) {
    max-width: 100%;
    width: 100%;
    padding: 0 1rem;
  }

  .main {
    @media screen and (max-width: 28rem) {
      width: 100%;
    }
  }
}
