@charset 'utf-8';
@import '../reset.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../text.scss';
@import '../sizes.scss';

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;

  @media screen and (max-width: 480px) {
    max-width: 100%;
    width: 100%;
    overflow-y: hidden;
  }
}

.main {
  max-width: 53.333rem;
  padding: {
    top: 3rem;
    left: 2rem;
    right: 2rem;
  };

  @media screen and (max-width: 480px) {
    width: 100%;
    padding: 0 1.5rem;
    position: relative;
    z-index: 11;
  }
}

:global {
  .decorated {
    position: relative;

    &-left::before,
    &-right::before {
      position: absolute;
      content: '';
      width: 26rem;
      height: 50vw;
      bottom: 3rem;
    }

    &-purple::before {
      background: $color-purple;
    }
    &-orange::before {
      background: $color-orange;
    }
    &-lightpurple::before {
      background: $color-lightpurple;
    }
    &-lightorange::before {
      background: $color-lightorange;
    }

    &-right::before {
      // --offset: calc( calc(calc(100vw - 21rem) / -2));
      --offset: calc(calc(100vw + 67rem) * 0.35);
      transform: rotate(-13deg) translateY(129%) translateX(var(--offset));
      left: 0;

      @media screen and (max-width: 480px) {
        display: none;
      }
    }


    &-left::before {
      // --offset: calc( calc(calc(100vw - 21rem) / -2));
      --offset: calc(calc(120vw + 34rem) * -0.31);
      transform: rotate(-13deg) translateX(var(--offset));
      left: 0;


      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  }
}
