@charset 'utf-8';
@import '../reset.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../text.scss';
@import '../sizes.scss';

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  max-width: 64rem;
  margin: 0 auto;
}
