@charset 'utf-8';
@import '../components/reset.scss';
@import '../components/colors.scss';
@import '../components/fonts.scss';
@import '../components/text.scss';
@import '../components/sizes.scss';

.index-logo {
	background-image: url("../images/logo.png");
	background-size: 140%;
	background-repeat: no-repeat;
	background-position: 22% 50%;
	display: block;
	width: 18rem;
	height: 18rem;
	margin-top: 4rem;
}

.title {
  text-align: center;
}

.tickets {
	margin-top: 2rem;
}

.info {
	margin-top: 2rem;
	font-weight: 200;
	text-align: center;
}

.impression_video {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;


  @media screen and (min-width: 28rem) {
    height: 24rem;
    width: 42rem;

  }

  @media screen and (max-width: 28rem) {
    margin-top: 0rem;
    width: 100vw;
    transform: translate(-1rem, 0);

  }
}


.updates_heading {

  margin-top: 4rem;

}
