@import '../../colors.scss';
@import '../../fonts.scss';
@import '../sponsoration_common.modules.scss';


.title {
  font-size: 2rem;
  line-height: calc(2rem * 1.8);
	text-align: center;
	font-family: $heading-font;

  padding-top: 18rem;
	font-weight: bold;

	@media screen and (max-width: 48rem) {
	}
}

.sponsor_header {

	@extend %block;
	@extend %block_end;

  padding-top: 0rem;
	@media screen and (max-width: 48rem) {
	}
}

.jsconf {
	display: block;
	height: 16rem;
	width: 16rem;
	position: absolute;
	top: 1rem;
	left: 50%;
	background-size: cover;
}

.jsconf {
  transform: translateX(-50%);
  margin-left: -31px;
	background-image: url('../../../images/logo.png');
}

.nav {
	margin: 3rem 0 0;
	text-align: center;

	&_list {
		display: inline;
	}

	&_item {
    &::before {
      display: none;
    }

		display: inline-block;

		@media screen and (max-width: 767px) {
			display: block;
			padding: .3rem 1rem;
		}

		padding: 0 1rem;
		font-weight: 400;

		a, a:visited {
      color: $color-purple;
      font-size: 1.1rem;
      &:hover, &:active {
        text-decoration: none;
      }
    }
	}
}
