
.header {
  width: 100%;
}

.logo {
	background-image: url("../../images/logo.png");
	background-size: 140%;
	background-repeat: no-repeat;
	background-position: 22% 50%;
	display: block;
	width: 9rem;
	height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -2.9rem;
}
