@import '../colors.scss';
@import '../fonts.scss';
@import '../sizes.scss';

//$header-main-color: $color-salmon;
$header-main-color: #ffffff;
//$header-secondary-color: $color-lightpurple;
$header-secondary-color: #777;
//$header-nav-color: $color-lightsalmon;
$header-nav-color: #bbbbbb;

$main-header-fontSize: 6.7rem;
$secondary-header-fontSize: (($ratio * $main-header-fontSize) - $main-header-fontSize) / $ratio;

.header {
  position: relative;
  width: 100%;
  //background: linear-gradient(124.24deg, #240D37 0%, #47103E 100%);
  background: black;

  min-height: 40rem;
  height: 80vh;

  display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 28rem) {
    width: 100%;
    height: 17.5rem;
    min-height: 0;
  }

  .inner {
    max-width: 64rem;
    padding-top: 12rem;

    @media screen and (max-width: 28rem) {
      width: calc(100vw - 3rem);
      padding-top: 2.6rem;
    }

    .title {
      width: 32rem;
      position: absolute;
      transform: translate(-100%, -52.3%);
      text-align: right;
      top: 61.8033%;

      @media screen and (max-width: 28rem) {
        width: 100%;
        transform: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
      }
    }

    .navigation {
      // temp
      width: 400px;
      height: 411px;
      // temp

      @media screen and (max-width: 28rem) {
        display: none;
      }


      position: absolute;
      top: 61.8033%;
      transform: translateY(-17.9rem);
      left: 61.8033%;

      .menu {
        li {
          font-family: $heading-font;
          font-size: 2.25rem;
          font-weight: 600;
          margin: 0 0 2rem 0;
          padding: 0;

          &::before {
            display: none;
          }

          a {
            padding-bottom: .48rem;
            color: $header-nav-color;
            text-decoration: none;
            display: inline-block;
            //border-bottom: 4px solid;
          }
        }
      }
    }

    .logoSvg {
      position: absolute;
      width: 10.938rem;
      height: 10.938rem;
      top: -6.3rem;
      right: 14rem;

      .polygons {
        opacity: .4;
      }

      polygon, path {
        fill: $header-main-color;
      }

      @media screen and (max-width: 28rem) {
        display: none;
      }
    }
  }
}

.mainTitle {
  padding-bottom: 2.5rem;
  margin-bottom: 0;

  @media screen and (max-width: 28rem) {
    padding-bottom: 1rem;
    width: 11.125rem;
  }

  .jsconf {
    display: block;
    color: $header-main-color;
    font-size: $main-header-fontSize;
    display: block;
    height: 4.3rem;
    //text-transform: lowercase;
    font-family: $logo-font;
    margin-bottom: 2rem;

    .logo {
      display: block;
      overflow: hidden;
      width: 0;
      position: absolute;
    }

    .conf {
      transform: scaleX(0.95) translateX(.9rem);
      display: block;
    }

    @media screen and (max-width: 28rem) {
      font-size: 2.4rem;
      height: auto;
      margin-bottom: 0;
    }
  }

  .city {
    font-family: $heading-font;
    font-weight: 600;
    display: block;
    color: $header-secondary-color;
    font-size: ($ratio * $main-header-fontSize) - $main-header-fontSize;

    @media screen and (max-width: 28rem) {
      font-size: 1.4rem;
      height: auto;
    }
  }

}

.date {
  display: block;
  border-top: 7px solid $header-secondary-color;
  padding: {
    top: 2rem;
    left: 16rem;
  }
  color: $header-main-color;
  font-family: $heading-font;
  font-size: $secondary-header-fontSize;
  font-weight: 600;
  line-height: calc(2.5rem * 1.1);


  @media screen and (max-width: 28rem) {
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.1);
    width: 11.125rem;
  }

  .year {
    display: block;
    color: $header-secondary-color;
    font-size: $secondary-header-fontSize / $ratio;
    font-weight: 300;


  @media screen and (max-width: 28rem) {
    padding: 0;
    font-size: 1.25rem;
  }
  }
}





.line1,
.line2,
.line3,
.line4,
.line5 {
  position: absolute;
  background-color: cyan;
  z-index: 100;
}

.line1 {
  height: 1px;
  width: 100vw;
  top: 61.8033%;
}

.line2 {
  height: 1px;
  width: 100vw;
  top: 38.1967%;
}

.line3 {
  width: 1px;
  height: 100vh;
  left: 61.8033%;
}
.line4 {
  width: 1px;
  height: 100vh;
  left: 38.1967%;
}

.line5 {
  width: 1px;
  height: 100vh;
  left: 50%;
}
