@import '../colors.scss';
@import '../fonts.scss';
@import '../sizes.scss';

$header-main-color: $color-salmon;
//$header-main-color: #ffffff;
$header-secondary-color: $color-lightpurple;
//$header-secondary-color: #777;
$header-nav-color: $color-lightsalmon;
//$header-nav-color: #bbbbbb;

$main-header-fontSize: 6.7rem;
$secondary-header-fontSize: (($ratio * $main-header-fontSize) - $main-header-fontSize) / $ratio;

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(124.24deg, #240D37 0%, #47103E 100%);
  //background: black;

  min-height: 40rem;
  height: 80vh;

  display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 28rem) {
    width: 100%;
    height: 17.5rem;
    min-height: 0;
  }

  .inner {
    max-width: 64rem;
    padding-top: 12rem;

    @media screen and (max-width: 28rem) {
      width: calc(100vw - 3rem);
      padding-top: 2.6rem;
    }

    .title {
      width: 32rem;
      position: absolute;
      transform: translate(-100%, -53%);
      top: 61.8033%;

      @media screen and (max-width: 28rem) {
        width: 100%;
        transform: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
      }

      .mainTitle {
        padding-bottom: $secondary-header-fontSize;
        margin-bottom: 0;

        text-align: right;

        @media screen and (max-width: 28rem) {
          padding-bottom: 1rem;
          width: 11.125rem;
        }

        .jsconf {
          display: block;
          height: 4.3rem;
          margin-bottom: $secondary-header-fontSize;

          color: $header-main-color;
          font-size: $main-header-fontSize;
          font-family: $logo-font;

          .logo {
            display: block;
            overflow: hidden;
            width: 0;
            position: absolute;
          }

          .conf {
            transform: scaleX(0.95) translateX(.9rem);
            display: block;

            line-height: .58;
          }

          @media screen and (max-width: 28rem) {
            height: auto;
            margin-bottom: 0;
            font-size: 2.4rem;
          }
        }

        .city {
          display: block;

          font-family: $heading-font;
          font-weight: 600;
          color: $header-secondary-color;
          font-size: ($ratio * $main-header-fontSize) - $main-header-fontSize;

          @media screen and (max-width: 28rem) {
            height: auto;
            font-size: 1.4rem;
          }
        }
      }

      .date {
        text-align: right;
        display: block;
        border-top: 7px solid $header-secondary-color;
        padding: {
          top: $secondary-header-fontSize / $ratio;
          left: 16rem;
        }
        color: $header-main-color;
        font-family: $heading-font;
        font-size: $secondary-header-fontSize;
        font-weight: 600;
        line-height: calc(2.5rem * 1.1);


        @media screen and (max-width: 28rem) {
          padding: 1rem 0 0 0;
          font-size: 1.5rem;
          line-height: calc(1.5rem * 1.1);
          width: 11.125rem;
        }

        .year {
          display: block;
          color: $header-secondary-color;
          font-size: $secondary-header-fontSize / $ratio;
          font-weight: 300;
          padding-top: .7rem;

          @media screen and (max-width: 28rem) {
            padding: 0;
            font-size: 1.25rem;
          }
        }
      }
    }

    .navigation {
      // temp
      width: 400px;
      height: 411px;
      // temp

      @media screen and (max-width: 28rem) {
        display: none;
      }


      position: absolute;
      z-index: 10;
      top: 61.8033%;
      transform: translateY(-17.9rem);
      left: 61.8033%;

      .menu {
        li {
          font-family: $heading-font;
          font-size: 2.25rem;
          font-weight: 600;
          margin: 0 0 2rem 0;
          padding: 0;


          &::before {
            display: none;
          }

          a {
            position: relative;
            padding-bottom: .48rem;
            color: $header-nav-color;
            text-decoration: none;
            display: inline-block;
            //border-bottom: 4px solid;

            &:hover {
              color: $color-white;

              &:after {
                width: 100%;
              }
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 0%;
              left: 0;
              bottom: -4px;
              height: 5px;
              background: white;
              transition: width .2s ease-in-out;
            }


          }
        }
      }
    }

    .logoSvg {
      position: absolute;
      z-index: 10;
      width: 10.938rem;
      height: 10.938rem;
      top: -5.66rem;
      right: 14rem;

      .polygons {
        opacity: .4;
      }

      polygon, path {
        fill: $header-main-color;
      }

      @media screen and (max-width: 28rem) {
        display: none;
      }
    }
  }
}

.background {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .12;
  transform-origin: center center;
}

.bottomRight {
  canvas {
    transform: rotateX(64deg) rotateY(4deg) rotateZ(8deg) translate(-47%, 2%) scale(1.6);
  }
}
.topRight {
  canvas {
    transform: rotateX(-64deg) rotateY(-8deg) rotateZ(16deg) translate(-33%, -67%) scale(1.6);
  }
}
.topLeft {
  canvas {
    transform: rotateX(-55deg) rotateY(10deg) rotateZ(-14deg) translate(15%, -39%) scale(1.5);
  }
}
.bottomLeft {
  canvas {
    transform: rotateX(62deg) rotateY(-11deg) rotateZ(-7deg) translate(-9%, -13%) scale(1.6);
  }
}

// DEBUG RATIOS
.line1,
.line2,
.line3,
.line4,
.line5 {
  position: absolute;
  background-color: cyan;
  z-index: 100;
}

.line1 {
  height: 1px;
  width: 100vw;
  top: 61.8033%;
}

.line2 {
  height: 1px;
  width: 100vw;
  top: 38.1967%;
}

.line3 {
  width: 1px;
  height: 100vh;
  left: 61.8033%;
}
.line4 {
  width: 1px;
  height: 100vh;
  left: 38.1967%;
}

.line5 {
  width: 1px;
  height: 100vh;
  left: 50%;
}
