@import '../breakpoints.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../sizes.scss';


.updates {
  z-index: 1;
  background: $color-lightestpurple;
  position: relative;
  width: 100%;
  padding: 4rem 0;
  margin-top: -3rem;
  padding: 4rem 2rem 6rem;
  //padding-bottom: 6rem; // until we don't have venue content on home

  &::after {
    position: absolute;
    z-index: 2;
    content: '';
    width: 26rem;
    height: 40rem;
    top: 0;
    right: -20rem;
    background: $color-lightorange;
    --offset: calc(calc(100vw - 108rem) * 0.35);
    transform: rotate(-13deg); //translateY(-60.1%) translateX(var(--offset));
    transform-origin: top left;
  }

  &::before { // until we don't have venue content on home
    position: absolute;
    z-index: 1;
    content: '';
    width: 43vw;
    height: 13vw;
    top: -13vw;
    right: 0rem;
    background: $color-lightestpurple;
  }

  @media (max-width: 1280px) {
    &::after {
      right: -22rem;
    }
    &::before {
      width: 30vw;
    }
  }

  @media (max-width: 480px) {
    &::after,
    &::before {
      display: none;
    }
    margin-top: -7rem;
    padding-top: 8rem;
  }
}

.inner {
  max-width: 60rem;
  margin: 0 auto;

  h2 {
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 480px) {
    padding: 0 1rem;
  }
}

.list {
  padding-top: 2rem;
  font-weight: 200;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }

  li {
    position: relative;
    padding: 0;
    list-style-type: none;
    display: inline-block;

    a {
      color: $color-purple;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 2rem;
    }
    h3 a {
      text-decoration: none;
    }
  }

  .date {
    position: absolute;
    font-size: $text-small;
    top: -2rem;
    color: $color-orange;
    font-style: italic;
  }
}

.updates_list {
    &_item:not(:last-child) {
        margin-bottom: $size-lg;
        padding-bottom: $size-lg;
    }
}
