@charset 'utf-8';
@import '../reset.scss';
@import '../colors.scss';
@import '../fonts.scss';
@import '../text.scss';
@import '../sizes.scss';

.footer {
  margin-top: 4rem;
  margin-bottom: 2rem;


  nav ul {
    display: inline-block;

    li {
      display: inline-block;
      font-weight: 200;

      &:not(:last-child) {
        padding-right: 1rem;
      }
    }
  }
}
