@import '../colors.scss';
@import '../fonts.scss';

.speaker_image {

  width: 16rem;
  height: 16rem;
  position: relative;
  transform: translateX(-2rem);


  @media (max-width: 480px) {
    transform: none;
    width: 74vw;
    height: 0;
    padding-top: 74vw;
  }

  margin-top: 3rem;
  margin-bottom: 2rem;

  background-color: $color-lightorange;

  @media (max-width: 480px) {
    margin-bottom: 1rem;
  }

  .image {
    position: absolute;
    top: 0;
    width: 16rem;
    height: 16rem;


    @media (max-width: 480px) {
      width: 100%;
      height: 100%;
    }

    transform: rotate(-13deg);
    transform-origin: top left;
    overflow: hidden;

    .image_data {
      transform: scale(1.2) rotate(13deg);
      transform-origin: center;
    }
  }

}
