@import '../../colors.scss';
@import '../../fonts.scss';
@import '../sponsoration_common.modules.scss';

.gallery {
  height: calc(calc(100vw / 5.72) * 2);

  @media (min-width: 480px) {
    height: calc(calc(100vw / 5.82) * 2);
  }

  @media (min-width: 768px) {
    height: calc(calc(100vw / 5.75) * 2);
  }

  @media (min-width: 1024px) {
    height: calc(calc(100vw / 5.72) * 2);
  }

  @media (min-width: 1368px) {
    height: calc(calc(100vw / 5.692) * 2);
  }
  background-color: $color-black;
  text-align: center;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;

  &_item {

    --setHeight: calc(100vw / 5.9);

    @media (min-width: 480px) {
      --setHeight: calc(100vw / 5.82);
    }
    @media (min-width: 768px) {
      --setHeight: calc(100vw / 5.75);
    }
    @media (min-width: 1024px) {
      --setHeight: calc(100vw / 5.72);
    }
    @media (min-width: 1368px) {
      --setHeight: calc(100vw / 5.692);
    }


    display: block;
    height: var(--setHeight);
    width: calc(var(--aspectRatio) * var(--setHeight));
  }
}
